* {
  /* box-sizing: border-box; */
}


html {
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(to right, #fdd520, #d82f11);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

input {
  
  border:0;
  border-bottom: 2px solid red;
}

input:focus {
  outline:none;
  border: 2px solid rgb(250, 36, 36);
 }

.search-container {
  margin-top: 20%;

}
.search-container input,
.search-container .suggestions {

  width: 200px;
  padding: auto; 

 
}
.search-container input {
  background-color: rgba(255, 255, 255, 0.341);
  padding: 10px; 

}
.search-container .suggestions {
  border: 0;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.341);
  width: 220px;
  max-height: 250px;
  overflow: auto;
}
ul.suggestions {
  
}

ul li {
  padding: 10px 0 10px 10px;
}
ul li:hover {
  background-color: #d82f1171;
}

input {
   /* TODO */
}